
@import "../../../node_modules/bootstrap/scss/functions";
@import './variables';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import './Dashboard';
.bg-cover{
  background-size: cover;
  background-position: center center;
}
.h-60{
  height: 60%;
}
.w-60{
  width: 60%;
}
.swiper-container {
  height: 650px;
}
.wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.w-40{
  width:40%;
}
@media(max-width:568px){
  .swiper-container{
    height:480px;
  }
}